<div class="btn-group btn-padding">
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Menu
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" routerLink="/about" id="posts" (click)="showSection($event)">Posts</a>
	    <a class="dropdown-item" routerLink="/about" id="comments" (click)="showSection($event)">Comments</a>
	    <a class="dropdown-item" routerLink="/about" id="photos" (click)="showSection($event)">Photos</a>
	  </div>
	</div>
</div>
<app-posts *ngIf="activeSection == 'posts'"></app-posts>
<app-comments *ngIf="activeSection == 'comments'"></app-comments>
<app-photos *ngIf="activeSection == 'photos'"></app-photos>