<div class="btn-group btn-padding">
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Menu
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a class="dropdown-item" routerLink="/about" (click)="showPosts()">Posts</a>
	    <a class="dropdown-item" routerLink="/about" (click)="showComments()">Comments</a>
	    <a class="dropdown-item" routerLink="/about" (click)="showPhotos()">Photos</a>
	  </div>
	</div>
</div>
<app-posts *ngIf="showSection == 'posts'"></app-posts>
<app-comments *ngIf="showSection == 'comments'"></app-comments>
<app-photos *ngIf="showSection == 'photos'"></app-photos>